.pseudo-page-header {
    background-color: $dark-red;
    width: 100%;
    height: 10vh;
    min-height: 7em;
    margin: 5vh 0 0 0;
    display: flex;
    h1 {
        color: white;
        background: $dark-red;
        margin: auto;
        line-height: 1;
        padding: 5px;
        font-size: 5em;
        border-radius: 5px;
        white-space: nowrap;
    }
}

#about-header {
    background-image: url(./../figures/topography.svg);
    background-size: 50vmax;
}

#projects-header {
    background-image: url(./../figures/circuit-board.svg);
    background-size: 20vmax;
}

#contact-header {
    background-image: url(./../figures/wiggle.svg);
    background-size: 5vmax;
}
