$off-white: #EDF2F4;
$gray: #8D99AE;
$dark-gray: #2B2D42;
$light-red: #EF233C;
$red: #D90429;
$dark-red: #B40421;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');